// Colors
$color-grey-fondo: rgba(214, 213, 214, 0.45);
$color-name: #313131;
$color-title: #FFFFFF;
$color-hash:#000000;

// Font
$font: 'Roboto', sans-serif;
$font-light: 200;
$font-middle:400;
$font-regular:500;
$font-bold:700;
